{% extends "reservation/layout.html" %}
{% load i18n %}

{% block main %}
<div class="hero-unit">
    {% if histories %}
    <h4>Charge history</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <td> AMOUNT </td>
                <td> TIME </td>
            </tr>
        </thead>
        {% for h in histories %}
        <tr>
            <td>{{ h.recharge_amount }} CNY</td>
            <td>{{ h.datetime }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h5> No charge history. </h5>
    {% endif %}
</div>
{% endblock %}
