{% extends "reservation/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Ding Fan' %} {% endblock %}

{% block content %}

<div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Yabroad DingFan!</a>
        <!--<ul class="nav">
          <li class="active"><a href="#">Home</a></li>
        </ul> -->
        <h5> {% now "SHORT_DATETIME_FORMAT" %} </h5>
      </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <h4>{{ msg }}</h4>
        Your balance now is {{ profile.balance }} CNY. <br>
        Your have ordered {{ count_today }} meal(s) today.
        <p> Ding fan ma? </p>
        <form method="post" action="{% url resv:reservation %}">
            {% csrf_token %}
            <button class="btn btn-primary btn-large">Wo yao ding!</button>
        </form>
    </div>
</div>
{% endblock %}
